<h1> Projects </h1>

{% if authed %}
    <p> Logged in as {{ user }} <p> <a href="{% url 'core:user_logout' %}"> log out </a> 
{% endif %}

{% if authed == False %}
    <a href="{% url 'core:user_login_form' %}"> log in </a>
{% endif %}

{% if project_list %}
    <ul>
    {% for project in project_list %}
        <li>
        	<a href="{% url 'core:project_details' project.id %}">
        	{{ project.descriptor }}
        	</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}

<a href="{% url 'core:project_submission_form' %}"> add your own project </a>