<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> {{ username }} </title>
    </head>
    <body>
        <p> profile of user {{ username }} </p>
        {% if project_list %}
            <p> projects by {{ username }} </p>
            <ul>
                {% for project in project_list %}
                    <li>
                        <a href="{% url 'core:project_details' project.id %}">
                        {{ project.descriptor }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>User has no projects</p>
        {% endif %}
    </body>
</html>